@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 21 80% 96%;
    --foreground: 24 20% 15%;
    --card: 21 80% 92%;
    --card-foreground: 24 20% 15%;
    --popover: 21 80% 92%;
    --popover-foreground: 24 20% 15%;
    --primary: 25 100% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 50% 88%;
    --secondary-foreground: 24 20% 15%;
    --muted: 21 50% 88%;
    --muted-foreground: 24 10% 40%;
    --accent: 37 100% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 21 40% 80%;
    --input: 21 50% 85%;
    --ring: 25 100% 47%;
    --chart-1: 25 100% 47%;
    --chart-2: 37 100% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 24 10% 10%;
    --foreground: 21 20% 95%;
    --card: 24 10% 15%;
    --card-foreground: 21 20% 95%;
    --popover: 24 10% 15%;
    --popover-foreground: 21 20% 95%;
    --primary: 25 100% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 10% 25%;
    --secondary-foreground: 21 20% 95%;
    --muted: 24 10% 25%;
    --muted-foreground: 21 10% 60%;
    --accent: 37 100% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 25%;
    --input: 24 10% 25%;
    --ring: 25 100% 47%;
    --chart-1: 25 100% 47%;
    --chart-2: 37 100% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}